<launch>
  <include file="$(find indoor_localization)/launch/camera.launch"/>
  <include file="$(find indoor_localization)/launch/apriltags.launch"/>
  <include file="$(find indoor_localization)/launch/frames.launch"/>
  <node pkg="indoor_localization" type="tf_to_odom" name="tf_to_odom"/>
  <include file="$(find indoor_localization)/launch/ekf.launch"/>
  <node pkg="phidgets_imu" type="phidgets_imu_node" name="phidgets_imu_node">
    <param name="~frame_id" value="imu"/>
  </node>
</launch>
