<launch>
  <!-- <node name="bundle_to_april" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 april_tags ac226_bundle" /> -->
  <node name="bundle_to_odom" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 3.1415927 0 map odom" />
  <node name="base_link_to_imu" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 3.1415927 0 1.5707963 base_link imu" />
  <node name="base_link_to_tag_cam" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 3.1415927 0 -1.5707963 base_link tag_cam" />
  <node name="base_link_to_lidar" pkg="tf2_ros" type="static_transform_publisher" args="0 0 -0.1 0 -1.5707963 0 base_link laser" />
</launch>
